<!DOCTYPE html>

<html>
<head>
	<title>FLAPPER NEWS</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-app="flapperNews" class="container">

	<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    	<ul class="nav navbar-nav">
      		<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      		<li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      		<li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      		<li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    	</ul>
  	</nav>

	<div class="row">

		<div class="col-xs-6 col-xs-offset-3">
			<ui-view></ui-view>	
		</div>

	</div>
	
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/javascripts/angularApp.js"></script>
	<script type="text/javascript" src="/javascripts/controllers/controllers.js"></script>
	<script type="text/javascript" src="/javascripts/factory/factory.js"></script>
	<script type="text/javascript" src="/javascripts/config/config.js"></script>
</body>
</html>